/* CSS Document */


.authentication.container {
	width: 70%;
	max-width: 600px;
	min-width: 480px;
	margin: 0 auto;
	padding: 2em;
	border: 1px solid $dark_white;
	color: #444;
	background: $dark_white;
	border-radius: 4px;
	box-shadow: 0px 0px 10px $dark_white;
	
	h1 {
		font-size: 1.4em;
		font-weight: bold;
	}
	
	a, a:link, a:visited {
		color: $link;
	}
	
	a:hover, a:focus, a:active {
		color: $link_active;
	}
	
	form {
		margin: 0 auto;
		max-width: 600px;
	}
	
}