/* CSS Document */
$white: #fff;
$dark_white: #efefef;

$link: #4B88A2;
$link_active: #376376;

$error: #BB0A21;
$success: #00aa00;
$body: #38393A;

/* Black Shades */
$black: #252627;
$black_01: #EBEBEB;
$black_02: #D7D7D7;
$black_03: #c3c3c4;
$black_04: #afb0b0;
$black_05: #9b9C9C;
$black_06: #888889;
$black_07: #747475;
$black_08: #606161;
$black_09: #4C4D4E;
$black_10: #38393A;