/* Modals */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    text-align: center; /* Centers the modal horizontally */
    z-index: 1000;
    display: none;
}
// Window
.modalWindow {
    display: inline-block;
    background: #fff;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    vertical-align: middle;
    padding: 2em;
    text-align: left;
    top: 50%;
    left: inherit;
    transform: translateY(-50%); /* Centers the modal vertically */
    position: relative;
    -webkit-box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
	
	&#cancelShow,
	&#scheduleShow {
		max-width: 600px;
	}
	
}